<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ss.s1.board.notice.NoticeDAO">

	<update id="noticeUpdate" parameterType="NoticeDTO">
		update board set title=#{title}, contents=#{contents} where num=#{num}
	</update>

	<delete id="noticeDelete" parameterType="NoticeDTO">
		delete board where num= #{num}
	</delete>

	<select id="noticeSelect" parameterType="NoticeDTO" resultType="NoticeDTO">
		select * from board where num = #{num}
	</select>

	<insert id="noticeWrite" parameterType="NoticeDTO">
		insert into board values(notice.nextval, #{title}, #{writer}, #{contents}, sysdate, 0)
	</insert>

	<select id="noticeList" resultType="NoticeDTO" parameterType="com.sub.s3.util.Pager">
      	select * From(select rownum R, N.* from(SELECT * FROM board where 
		<choose>
			<when test="kind == 'tt'">
				title
			</when>
			
			<when test="kind == 'wr'">
				writer
			</when>
			
			<otherwise>
				contents
			</otherwise>
		</choose>
		like '%'||#{search}||'%' order by num desc) N) where R between #{startRow} and #{lastRow}
   </select>
   
	<select id="noticeCount" resultType="Long" parameterType="com.sub.s3.util.Pager">
		select count(num) from board
		where
		<choose>
			<when test="kind == 'tt'">
				title
			</when>
			
			<when test="kind == 'wr'">
				writer
			</when>
			
			<otherwise>
				contents
			</otherwise>
		</choose>
		like '%' || #{search} || '%'
	</select>
	
</mapper>